html{
    font-size: 16px;
    overflow-x: hidden;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: yellow;
}

h1, h2{
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

/* Small screens (phones) */
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

/* Medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

/* Large screens (desktops) */
@media screen and (min-width: 1025px) {
  html {
    font-size: 18px;
  }
}