/* Small screens (phones) */
@media screen and (max-width: 600px) {
    .home-top{
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    .home-top > *{
        margin: auto auto;
    }

    .jigsaw-1, .jigsaw-2{
        width: 70%;
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .home-top{
        width: 100vw;
        max-width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .jigsaw-1, .jigsaw-2{
        width: 40vw;
    }
}

/* Large screens (desktops) */
@media screen and (min-width: 1025px) {
    .home-top{
        width: 100%;
        max-width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .jigsaw-1, .jigsaw-2{
        width: 100%;
    }
}

.home-page{
    width: 100%;
    overflow-x: hidden;
}

.home-top{
    padding-bottom: 2rem;
    color: white;
}

.home-top > h1{
    margin: auto auto;
    grid-column: 1 / -1;
    height: fit-content;
}

.home-top > p{
    margin: auto auto;
}

.home-top-background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    object-fit: cover;
    filter: blur(3px) brightness(0.3);
    z-index: -1;
}

.jigsaw-1, .jigsaw-2{
    mask-image: url("../assets/images/jigsawpiece.png");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.jigsaw-1{
    margin: 0 auto 1vw auto;
    transform: rotate(-25deg);
}

.jigsaw-1:hover{
    animation: jigsaw-1-shake 0.5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes jigsaw-1-shake{
    0%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-25deg);
    }
}

.jigsaw-2{
    margin: auto auto 1vw auto;
    transform: rotate(35deg);
}

.jigsaw-2:hover{
    animation: jigsaw-2-shake 0.5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes jigsaw-2-shake{
    0%{
        transform: rotate(35deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(35deg);
    }
}

.icon-home-top{
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-home-top > span{
    position: relative;
    animation: bounce 1s ease-in-out infinite;
    transform: scale(2);
}

@keyframes bounce{
    0%{
        top: 0;
    }
    30%{
        top: 1vw;
    }
    100%{
        top: 0;
    }
}

.home-bottom{
    padding: 2vh;
}

.timeline{
    width: fit-content;
    max-width: 100%;
    display: flex;
    gap: 20vw;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 3px solid black;
}

.timeline > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-25deg);
    transition: all 0.2s ease-in-out;
}

.timeline > section:hover{
    cursor: pointer;
    transform: scale(1.2);
}