.back-arrow{
    display: none;
    position: absolute;
    top: -50%;
    left: 0;
    padding: 10px;
    transform: scale(1.3);
    z-index: 3;
    color: black;
    animation: fly-in-top 1s ease-in-out forwards, bounce-left 1.5s ease-in-out 1s infinite;
}

.back-arrow > span{
    transition: all 0.2s ease-in-out;
}

.back-arrow:hover > span{
    cursor: pointer;
    transform: scale(1.6);
}

@keyframes fly-in-top{
    0%{
        position: absolute;
        top: -50%;
        left: 0;
        transform: scale(1.3);
    }
    100%{
        position: absolute;
        top: 0%;
        left: 0;
        transform: scale(1.3);
    }
}

@keyframes bounce-left{
    0%{
        left: 0;
    }
    70%{
        left: 1vw;
    }
    100%{
        left: 0;
    }
}

.jigsaw-1-open{
    animation: jigsaw-1-open 1s ease-in-out forwards;
}

@keyframes jigsaw-1-open{
    0%{
        position: relative;
        left: 0;
    }
    100%{
        position: relative;
        left: -100%;
    }
}

.jigsaw-1-close{
    animation: jigsaw-1-close 1s ease-in-out forwards;
}

@keyframes jigsaw-1-close{
    0%{
        position: relative;
        left: -100%;
    }
    100%{
        position: relative;
        left: 0;
    }
}

.jigsaw-2-open{
    animation: jigsaw-2-open 1s ease-in-out forwards;
}

@keyframes jigsaw-2-open{
    0%{
        position: relative;
        right: 0;
    }
    100%{
        position: relative;
        right: -100%;
    }
}

.jigsaw-2-close{
    animation: jigsaw-2-close 1s ease-in-out forwards;
}

@keyframes jigsaw-2-close{
    0%{
        position: relative;
        right: -100%;
    }
    100%{
        position: relative;
        right: 0;
    }
}

.jigsaw-video{
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../assets/images/jigsawpiece.png");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    object-fit: cover;
    z-index: 2;
}

.video-fly-in{
    animation: video-slide-in 2s ease-in-out forwards, video-zoom-out 1s ease-in-out 2s forwards;
}

@keyframes video-slide-in{
    0%{
        top: 150%;
    }
    50%{
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    100%{
        top: 50%;
        transform: translate(-50%, -50%) scale(30);
    }
}

@keyframes video-zoom-out{
    0%{
        transform: translate(-50%, -50%) scale(30);
        mask-image: url("../assets/images/jigsawpiece.png");    
    }
    100%{
        width: 90vw;
        transform: translate(-50%, -50%) scale(1);
        mask-image: none;
    }
}

.video-fly-away{
  animation: zoom-in 1s ease-in-out forwards, video-slide-out 2s ease-in-out 1s forwards;
}

@keyframes zoom-in{
    0%{
        width: 90vw;
        transform: translate(-50%, -50%) scale(1);
        mask-image: none;
    }
    100%{
        transform: translate(-50%, -50%) scale(30);
        mask-image: url("../assets/images/jigsawpiece.png");
    }
}

@keyframes video-slide-out{
    0%{
        top: 50%;
        transform: translate(-50%, -50%) scale(30);
    }
    50%{
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    100%{
        top: 150%;
        transform: translate(-50%, -50%) scale(1);
    }
}