.numpad-container{
    display: none;
    min-width: 100vw;
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: numpad-fly-in 1s ease-in-out forwards;
    background-color: yellow;
    z-index: 1;
}

@keyframes numpad-fly-in{
    0%{
        top: -150%;
    }
    100%{
        top: 50%;
    }
}

.numpad-fly-away{
    animation: numpad-fly-away 0.5s ease-in-out forwards;
}

@keyframes numpad-fly-away{
    0%{
        top: 50%;
    }
    100%{
        top: -150%;
        display: none;
    }
}

.numpad{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: black;
    border-radius: 25px;
}

.numpad > *{
    margin: 20px;
}

.numpad-screen{
    width: 40%;
    height: 5vw;
    pointer-events: none;
}

.numpad-numbers{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.numpad-numbers > button{
    width: 30%;
    height: 5vw;
    transition: all 0.2s ease-in-out;
    border: none;
    background: transparent;
    color: white;
}

.numpad-numbers > button:hover{
    transform: scale(1.2) rotate(-25deg);
}

.numpad-numbers > button > img{
    width: 100%;
    height: 100%;
    mask-image: url("../assets/images/jigsawpiece.png");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    object-fit: contain;
}