.home-page-transition{
    animation: home-close 1s ease-in-out forwards;
} 

@keyframes home-close{
    0%{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    70%{
        width: 5%;
        height: 10vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    100%{
        width: 5%;
        height: 10vh;
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
}

.home-page-transition-open{
    animation: home-open 1s ease-in-out forwards;
} 

@keyframes home-open{
    0%{
        width: 5%;
        height: 10vh;
        position: absolute;
        left: 50%;
        top: -50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    30%{
        width: 5%;
        height: 10vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    99%{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    100%{
        width: 100%;
        height: 100vh;
        position: relative;
        left: 0;
        top: 0;
    }
}

.blog-page-transition{
    animation: blog-open 1s ease-in-out forwards;
}

@keyframes blog-open{
    0%{
        width: 5%;
        height: 10vh;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    70%{
        width: 5%;
        height: 10vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    99%{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    100%{
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
    }
}

.blog-page-transition-close{
    animation: blog-close 1s ease-in-out forwards;
}

@keyframes blog-close{
    0%{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    70%{
        width: 5%;
        height: 10vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    100%{
        width: 5%;
        height: 10vh;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
}